# Build artifacts
/target/
/dist/
/coverage/

# Node
/node_modules/

# Anchor
/.anchor/

# OS
.DS_Store

# Env
.env
**/**/target/deploy
**/**/target/deploy/*.json
**/**/target/deploy/*.keypair
**/**/target/deploy/*.so
**/**/target/deploy/*.wasm
/target/
programs/*/target/

todo.txt
next

Account 1_secret_key.pem
Account 2_secret_key.pem