# Build artifacts
/target/
/artifacts/
/cache/
/company/
/dist/
/coverage/

# Node
/node_modules/

# Anchor
/.anchor/

# OS
.DS_Store

# Env
.env
**/**/target/deploy
**/**/target/deploy/*.json
**/**/target/deploy/*.keypair
**/**/target/deploy/*.so
**/**/target/deploy/*.wasm
/target/
programs/*/target/