# Build artifacts
/target/
/dist/
/coverage/
*.wasm
!contracts/$moga-collection/cep78.wasm

# Node
/node_modules/

# Anchor
/.anchor/

# OS
.DS_Store

# Env
.env
**/**/target/deploy
**/**/target/deploy/*.json
**/**/target/deploy/*.keypair
**/**/target/deploy/*.so
**/**/target/deploy/*.wasm
/target/
programs/*/target/
contracts/*/target/
contracts/**/target/
**/Cargo.lock
!Cargo.lock

todo.txt
next

Account 1_secret_key.pem
Account 2_secret_key.pem