[features]
seeds = false
skip-lint = false

[programs.localnet]
rwa_raffle = "RwaRafLe1111111111111111111111111111111111111"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
